aiofiles==23.2.1
aiosqlite==0.19.0
attrs==24.2.0
bcrypt==3.2.2
certifi==2024.8.30
cffi==1.15.1
charset-normalizer==3.4.0
cleo==0.8.1
clikit==0.6.2
colorama==0.4.6
crashtest==0.3.1
cryptography==41.0.3
dotty-dict==1.3.1
exceptiongroup==1.2.2
exceptionite==2.2.5
Faker==13.16.0
gunicorn==23.0.0
hashids==1.3.1
hazelcast-python-client==5.5.0
hfilesize==0.1.0
hupper==1.10.3
idna==3.10
inflection==0.5.1
iniconfig==2.0.0
Jinja2==3.0.3
MarkupSafe==3.0.2
masonite==4.17.4
masonite-orm==2.23.1
mock==5.1.0
packaging==24.2
pastel==0.2.1
pendulum==2.1.2
pluggy==1.5.0
psycopg2-binary==2.9.10
pycparser==2.21
PyJWT==2.4.0
pylev==1.4.0
pymemcache==4.0.0
pymodbus==3.5.2
pyOpenSSL==23.2.0
pyserial==3.5
pytest==8.3.3
python-dateutil==2.8.2
python-dotenv==0.15.0
pytz==2023.3.post1
pytzdata==2020.1
requests==2.32.3
requests-file==2.1.0
schedule==1.2.2
six==1.16.0
sortedcontainers==2.4.0
tldextract==2.2.3
tomli==2.1.0
typing_extensions==4.12.2
urllib3==2.2.3
watchdog==6.0.0
Werkzeug==3.1.3
whitenoise==5.2.0
